/* Global Font Import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600&display=swap');


body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f5f5f5;
    height:100%;
}




/* Sidebar Styles */
.sidebar {
    width: 250px;
    /* background-color: linear-gradient( #fbf0f3, #ebdede); */
    background-color: #fbf0f3;
    border-right: 1px solid #ddd;
    padding: 20px;
    min-height: 100vh;
      position: fixed; /* Fix the sidebar */
    top: 0; /* Position it at the top */
    left: 0; /* Align it to the left */
}



/* Style the sidebar */

/* Style for the main content */
.main-content {
    margin-left: 290px; /* Leave space for the sidebar */
    padding: 20px; /* Padding inside the main content */
    background: linear-gradient(45deg, #dad5e7, #fbf0f3, #efe8e8);
        height: 100vh; /* Occupy full viewport height */
        box-sizing: border-box; /* Include padding in height calculation */
        overflow-y: auto; /* Add scroll if content overflows */
    }




.logo {
    text-align: center;
    margin-bottom: 30px;
}

.menu h3 {
    margin-bottom: 15px;
    color: #9E7B92;
    font-size: 1.2em;
    font-weight: 600; /* Added bold weight for better emphasis */
}

.app__left-panel-button {
    display: inline-block;
    color: #9E7B92;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 0; /* Adjusted padding for better spacing */
    font-size: 1.2em;
    font-weight: 600; /* Added bold weight */
}

.bp3-icon-standard {
    margin-left: 5px;
}

.app__left-panel-button:hover {
    color: #555;
}

.menu ul {
    list-style: none;
    padding: 0; /* Removed padding */
    margin-left: 0; /* Removed default left margin */
}

.menu ul ul {
    margin-left: 15px; /* Reduced indentation for nested lists */
}

.menu li {
    padding: 10px 0; /* Adjusted padding */
    color: #666;
    transition: color 0.3s;
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    font-weight: 400; /* Lighter weight for normal text */
}

.menu li:hover {
    cursor: pointer;
    color: #555; /* Darker color on hover */
    font-weight: 600; /* Bolder on hover */
}

.app__left-panel-category {
    color: #b6a1b6;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    font-size: 14px; /* Slightly larger text */
    font-weight: 600; /* Bolder text */
    margin-bottom: 5px;
    padding-left: 5px; /* Adjusted padding */
    text-shadow: 1px 1px #fffdfe;
    pointer-events: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}


.main-content {
    flex: 1;
    padding: 20px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h1 {
    font-size: 24px;
    color: #333;
}

.user-menu {
    display: flex;
    align-items: center;
}

.profile-icons {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* Guest list section */
.guest-list-section {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
}

.add-guest {
    padding: 10px 20px;
    background-color:  #9e7b92;;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.add-guest:hover {
    background-color:  #fbf0f3;
    color: black;
}

.search-add-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-add-container input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
}

.view-options {
    display: flex;
    gap: 10px;
}

.view-option {
    background-color:  #9e7b92;;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.view-option:hover {
    background-color:  #fbf0f3;
    color: black;
}
/* Container Styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}

.wedding-date {
    text-align: center;
    margin-bottom: 10px;
}

.wedding-date span {
    font-weight: bold;
}

.wedding-date a {
    color: #007bff;
    text-decoration: none;
}

/* Itinerary Section */
.itinerary-section {
    margin-top: 20px;
    text-align: center; /* Center the header and the whole section */
}

.timeline-container {
    margin-top: 30px;
    display: inline-block; /* Ensure the container is centered */
    text-align: left; /* Align the items to the left while keeping the container centered */
}

.timeline-item {
    display: flex;
    align-items: center; /* Center align items vertically */
    margin-bottom: 20px;
    position: relative;
}

.timeline-item .icon {
    margin-right: 10px; /* Space between icon and time */
}





.timeline-item .time {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-right: -10px; /* Space between time and separator */
    /* Remove height property */
    display: inline-flex; /* Enable inline flex for text to grow based on content */
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}
  


/* Style for the dotted line */
.dotted-line {
    position: absolute;
    left: 30px; /* Position it to the left of the items */
    top: 0; /* Start at the top */
    width: 2px; /* Width of the dotted line */
    height: calc(100% + 20px); /* Make it stretch to full height */
    background: none; /* No solid color */
    border-left: 2px dotted #d3d3d3; 
    margin-left:120px;
}

/* Add a dotted line only for all items except the last one */
.timeline-item:not(:last-child) .dotted-line {
    height: calc(100% + 20px); /* Extend the height to cover the gap */
}






.timeline-item .description {
    flex-grow: 1; /* Allow description to grow */
    text-align: left;
    margin-left: 90px; /* 30px (dotted line position) + 15px (spacing) */
    /* Remove height property */
    display: inline-flex; /* Enable inline flex for text to grow based on content */
    align-items: center; /* Center text vertically */
}









.timeline-item .description h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #333;
}

.timeline-item .description p {
    color: #666;
}

/* Media Queries for Responsiveness */
@media (max-width: 600px) {
    .timeline-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .timeline-item .separator {
        display: none; /* Hide separator on smaller screens */
    }

    .timeline-item .time, 
    .timeline-item .description {
        text-align: left;
        width: 100%;
    }
}


.timeline-item .time,
.timeline-item .description {
    cursor: pointer; /* Change cursor to indicate editability */
}




.timeline-item .time[contenteditable="true"],
.timeline-item .description[contenteditable="true"] {
    outline: none; /* Remove outline */
    border: none; /* Remove any default border */
}



/* Add task button styling */
#addTaskButton {
    background: linear-gradient(45deg, #dad5e7, #fbf0f3, #efe8e8);

    color:  #9E7B92;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 400px;
}

#addTaskButton:hover {
    background-color: linear-gradient(45deg, #dad5e7, #fbf0f3, #efe8e8);
}

/* Optional styling for new tasks */
.timeline-item .time,
.timeline-item .description {
    cursor: text;
}
/* Add your custom styles here */
.flatpickr-calendar {
    z-index: 9999; /* Ensure it appears above other elements */
}


/* icons */
.icon-picker {
    display: none; /* Hidden by default */
    position: absolute; /* Position relative to parent */
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 10px;
    z-index: 2; /* Ensure it appears above other elements */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 150px; /* Set width for the icon picker */
}

.icon-option {
    cursor: pointer;
    margin: 5px;
    font-size: 30px;
    display: inline-block;
}

/* Style for the icon */
.icon {
    width: 30px; /* Make icon div small */
    height: 30px; /* Set height to match width */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1); /* Slightly enlarge on hover */
}




.logo {
    width: 100px; /* Reduced width for a smaller logo */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Centering the image */
    margin: 0 auto; /* Centering */
 
    transition: transform 0.3s; /* Smooth scaling effect */
}

.logo:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}
.logo {
    text-align: center;
    margin-bottom: 30px;
}